@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

$th-bg: #F8FCFD;
$th-color: #0B191B;
$th-primary: #38C3DC;
$th-secondary: #81E2F4;
$th-accent: #45E1FD;

$font-family: "Rubik", sans-serif;
$font-size: 16px;

$br-PC: 1200px;
$br-tablet: 900px;
$br-phone: 600px;

$app-max-width: 70rem;

@mixin center {
    max-width: $app-max-width;
    width: 100%;
    margin: 0 auto;
    flex: 1;
}
@mixin paper($elevation) {
    $blur: 0px;
    @if $elevation == 1 {
        $blur: 2px;
    }
    @else if $elevation == 2 {
        $blur: 4px;
    }
    @else if $elevation == 3 {
        $blur: 6px;
    }
    @else if $elevation == 4 {
        $blur: 8px;
    }
    @else if $elevation == 5 {
        $blur: 10px;
    }
    @else if $elevation == 6 {
        $blur: 12px;
    }
    @else if $elevation == 7 {
        $blur: 14px;
    }
    @else if $elevation == 8 {
        $blur: 16px;
    }
    box-shadow: 0px 0px $blur 0px rgba(114, 114, 114, 0.445);
}